* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    -webkit-box-sizing: border-box; /* For older browsers */
    -moz-box-sizing: border-box;
}

.blog_post_hero_area {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/NIT-blog_posts.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
}
.blog_posts {
    width: 100%;
}
.blog_posts:hover img {
    transform: scale(1.05);
}

.blog_posts img {
    width: 100%;
    height: 500px;
    margin: 5% 0;
    transition: 0.3s;
}
.blog_posts p {
    color: #777;
    font-size: 14px;
}
.all_posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding: 5%;
    gap: 3%;
}
.blog_posts_footer {
    margin-top: 10%;
}
.blog_posts_form {
    margin-top: 40%;
}


@media all and (max-width:700px){
    .all_posts {
        display: flex;
        flex-direction: column;
    }
    .blog_posts img {
        height: auto;
    }
    .blog_posts {
        margin: 3% 0;
    }
    .blog_posts_form {
        margin-top: 10%;
    }
}
@media all and (min-width:700px) and (max-width:1200px){
    .all_posts {
        display: flex;
        flex-direction: column;
    }
    .blog_posts img {
        height: auto;
    }
    .blog_posts {
        margin: 3% 0;
    }
    .blog_posts_form {
        margin-top: 10%;
    }
}